.graph-view.color-fill {
  /* Supports all CSS color directives, like #HEX, rgb and rgba */
  color: #7f6df2;
}

.site-footer {
  display: none;
}

.site-body-left-column-site-name {
  text-align: center;
  margin: 0 auto;
}

.tree-item-self[data-path^='Concepts/Concepts'] {
  display: none;
}

.tree-item-self[data-path^='FAQ/FAQ'] {
  display: none;
}

.tree-item-self[data-path^='Guides/Guides'] {
  display: none;
}

.tree-item-self[data-path^='Tools/Tools'] {
  display: none;
}

.tree-item-self[data-path^='Tutorials/Tutorials'] {
  display: none;
}